html {
    height: 100%;
}

body {
    background: url('/media/shadow.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

/* Home Page */

.home-welcome {  
  position: relative;
  right:250px;
}

.subtitle {  
    font-size:40px;  
    color: #F2FA22;
    text-shadow: 2px 2px black;
    font-weight:bold;
}

.better-you-button {
    background-color: #F2FA22;
    color:black;
}

/* Registration */
.registrationCard {
    font-size:1rem;
    top: 6rem;
    font: black;
    padding:20px;
    margin:10px;
    background: rgb(235, 226, 99); /* Fallback for older browsers without RGBA-support */
    background: rgba(155, 152, 152, 0.5);
}

/* users profile pages */ 
.profileCard {
    background-color:rgb(43, 96, 156);
    color: rgb(165, 160, 160);
    min-height: 94vh; 
}
.profileTitle{
    margin:10px;
}
.profileInfoCard {
    background-color:rgb(88, 129, 175);
    color:white;
    min-height:70vh;
    margin:10px 0px 10px 10px;
    padding:10px;
}

/* Media Queries */

@media (max-width: 1024px) {
    
  .home-welcome {
  right:40px;
  top:510px;
}

.subtitle {  
    font-size:30px; 
}


}

@media (max-width: 768px) {
  .home-welcome {
  right:30px;
  top:410px;
}

.subtitle {  
    font-size:25px; 
}

}

@media (max-width: 548px) {

  .home-welcome {
  right:10px;
  top:280px;
}

.subtitle {  
    font-size:15px; 
}

.better-you-button {
    font-size:10px;
}

}

@media (max-width: 414px) {
      .home-welcome {
  right:0px;
  height:10px;
  width:300px;
  top:208px;
}

.subtitle {  
    font-size:15px; 
}

.better-you-button {
    font-size:10px;

}

@media (max-width: 411px) {
      .home-welcome {
  right:0px;
  height:10px;
  top:268px;
}

.subtitle {  
    font-size:15px; 
}

.better-you-button {
    font-size:10px;
    position: fixed;
    bottom:40px;
}

}

@media (max-width: 375px) {
      .home-welcome {
  right:0px;
  height:0px;
  top:200px;
}

.subtitle {  
    font-size:13px; 
}

.better-you-button {
    font-size:10px;
    position: relative;
    bottom:40px;
}

}

@media (max-width: 320px) {
      .home-welcome {
  right:0px;
  height:0px;
  top:160px;
}

.subtitle {  
    font-size:15px; 
}

.better-you-button {
    font-size:8px;
    position: relative;
    bottom:40px;
}

}
@media (max-width: 280px) {
      .home-welcome {
  right:0px;
  height:0px;
  top:200px;
}

.subtitle {  
    font-size:13px; 
}

.better-you-button {
    font-size:10px;
    position: relative;
    bottom:40px;
}

}


