{% extends "base.html" %}

{% block extra_js %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}

<br><br>

<div class="container text-center card profileCard"> 
<h1> You're Subscribed. </h1>
<h2>Your subscrition ends {{ request.user.userprofile.subscription.current_period_end }} and will be renewed on this date</h2> 
<a class="btn btn-primary text-light" href="{% url 'userprofile' %}"> Return to Profile Page</a>

<br><br>
<a class="btn btn-danger text-light" href="{% url 'cancel' %}">Cancel Subscription</a>
</div>

{% endblock %}