{% extends "base.html" %}

{% block extra_js %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}

<br><br>

<div class="align-items-center h-100">
    <div class="card profileInfoCard profile-section align-items-center" style=height:97%;>
        <h3 class="white-important p-2">
<h1> You're Subscribed. </h1>
<h2 style="width:50%;">Your subscription ends {{ request.user.userprofile.subscription.current_period_end }} and will be renewed on this date</h2> 
<br><br>
<a href="{% url 'userprofile' %}" type="button" class="btn btn-primary text-light">Return to Profile Page</a>

<br><br>
<a href="{% url 'cancel' %}" type="button" class="btn btn-danger text-light">Cancel Subscription</a>
</div>

{% endblock %}