{% extends "base.html" %}

{% block extra_js %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}

<br><br>

<div class="align-items-center h-100">
    <div class="card profileInfoCard profile-section align-items-center" style=height:97%;>
        <h3 class="white-important p-2">
<h1> You currently have a subscription.</h1>
<h2 style="width:50%;">Your subscrition ends {{ request.user.userprofile.subscription.current_period_end }} but will not be renewed on this date and your account will revert to being a standard account.</h2> 
<br><br>
<a href="{% url 'userprofile' %}" type="button" class="btn btn-primary text-light">Return to Profile Page</a>
<br><br>
<a href="{% url 'resubscribe' %}" type="button" class="btn btn-warning text-light">Resume Subscription</a>
</div>

{% endblock %}