{% extends "base.html" %}

{% block extra_js %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}

<br><br>

<div class="container text-center card profileCard"> 
<h1> You currently have a subscription.</h1>
<h2>Your subscrition ends {{ request.user.userprofile.subscription.current_period_end }} but will not be renewed on this date and your account will go back to being a standard account.</h2> 
<a class="btn btn-primary text-light" href="{% url 'userprofile' %}"> Return to Profile Page</a>

<br><br>
<a class="btn btn-danger text-light" href="{% url 'resubscribe' %}">Resume Subscription Renewel</a>
</div>

{% endblock %}