{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

<div class="card profileCard align-items-center">
    <br>
    <h2 class="d-flex align-items-center">Membership</h2><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card profileInfoCard profile-section align-items-center">
                    <h4 class="white-important p-2 profileTitle">
                        Standard Profile
                    </h4>
                    <article class="content-section" style="height: 140px; width: 100%">
                        <div class="mt-2 d-flex full-width align-items-center">

                            <div class="align-items-center stats">
                                <ul>
                                    <li><i class="fas fa-check-circle"> Add a blog post</i></li>
                                    <li><i class="fas fa-check-circle"> Respond to Friend Requests</i></li>
                                    <li><i class="fas fa-check-circle"> Cancel Friend Requests</i></li>
                                    <li style="color:red;"><i class="fas fa-times-circle"> <strike>View User's Stats when not a friend</strike></i></li>
                                    <li style="color:red;"><i class="fas fa-times-circle"> <strike>View User's Bio when not a friend</strike></i></li>
                                    <li style="color:red;"><i class="fas fa-times-circle"> <strike>Cancel a friendship</strike></i></li>                                    
                                    <li style="color:red;"><i class="fas fa-times-circle"> <strike>Be able to view blog posts by users who aren't on your friend list.</strike></i></li>
                                    <li style="color:red;"><i class="fas fa-times-circle"> <strike>Give five hearts per day to other users</strike></i></li>
                                </ul>
                                

                            </div>
                            <a href="{% url 'userprofile' %}" type="button" class="updateButton btn btn-primary">Go to Profile Page</a>
                        </div>
                    </article>
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="card profileInfoCard profile-section align-items-center">
                    <h3 class="white-important p-2">
                        Premium Member
                    </h3>
                    <article class="content-section" style="height: 140px; width: 100%">
                        <div class="mt-2 d-flex full-width align-items-center">

                            <div class="align-items-center stats">
                                <ul>
                                    <li><i class="fas fa-check-circle"> Add a blog post</i></li>
                                    <li><i class="fas fa-check-circle"> Respond to Friend Requests</i></li>
                                    <li><i class="fas fa-check-circle"> Cancel Friend Requests</i></li>
                                    <li><i class="fas fa-check-circle"> View User's Stats when not a friend</i></li>
                                    <li><i class="fas fa-check-circle"> View User's Bio when not a friend</i></li>
                                    <li><i class="fas fa-check-circle"> Send friend requests</i></li>                                    
                                    <li><i class="fas fa-check-circle"> Be able to view blog posts by users who aren't on your friend list</i></li>
                                    <li><i class="fas fa-check-circle"> Give five hearts per day to other users</i></li>
                                </ul>
                                

                            </div>
                            <a href="{% url 'checkout' %}" type="button" class="updateButton btn btn-primary">Get Premium Subscription</a>
                        </div>
                    </article>
                </div>
            </div>

{% endblock %}