{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}


<div class="card profileCard align-items-center">
    <br>
    <h2 class="d-flex align-items-center">Membership</h2><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card profileInfoCard profile-section align-items-center">
                    <h4 class="white-important p-2 profileTitle">
                        Standard Profile
                    </h4>
                    <article class="content-section" style="height: 140px; width: 100%">
                        <div class="mt-2 d-flex full-width align-items-center">

                            <div class="align-items-center stats">
                                <ul>
                                    <li>Add a blog post</li>
                                    <li>Respond to Friend Requests</li>
                                    <li>Cancel Friend Requests</li>
                                    <li style="color:red;"><strike>View User's Stats when not a friend</strike></li>
                                    <li style="color:red;"><strike>View User's Bio when not a friend</strike></li>
                                    <li style="color:red;"><strike>Cancel a friendship</strike></li>                                    
                                    <li style="color:red;"><strike>Be able to view blog posts by users who aren't on your friend list.</strike></li>
                                    <li style="color:red;"><strike>Give five hearts per day to other users</strike></li>
                                </ul>
                                

                            </div>
                            <a href="{% url 'userprofile' %}" type="button" class="updateButton btn btn-primary>Go to Profile Page</a>
                        </div>
                    </article>
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="card profileInfoCard profile-section align-items-center">
                    <h3 class="white-important p-2">
                        Premium Member
                    </h3>
                    <article class="content-section" style="height: 140px; width: 100%">
                        <div class="mt-2 d-flex full-width align-items-center">

                            <div class="align-items-center stats">
                                <ul>
                                    <li>Add a blog post</li>
                                    <li>Respond to Friend Requests</li>
                                    <li>Cancel Friend Requests</li>
                                    <li>View User's Stats when not a friend</li>
                                    <li>View User's Bio when not a friend</li>
                                    <li>Send friend requests</li>                                    
                                    <li>Be able to view blog posts by users who aren't on your friend list.</li>
                                    <li>Give five hearts per day to other users</li>
                                </ul>
                                

                            </div>
                            <a href="{% url 'checkout' %}" type="button" class="updateButton btn btn-primary">Get Premium Subscription</a>
                        </div>
                    </article>
                </div>
            </div>

{% endblock %}