{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card profileCard align-items-center">
    <br>
    <h2 class="d-flex align-items-center">{{ user.username }}'s Profile</h2><br>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card profileInfoCard profile-section align-items-center">
                    <h4 class="white-important p-2 profileTitle">
                        Profile
                    </h4>
                    <article class="content-section" style="height: 140px; width: 100%">
                        <div class="mt-2 d-flex full-width align-items-center">
                            <img class="rounded-circle mr-3 profileImage" src="{{ userinfo.profile_pic.url }}">
                        </div>
                        <div>
                            <h4 class="white-important">
                                {{ user.username }}
                            </h4>
                            <h6 class="email-profile">
                                {{ user.email }}
                            </h6>
                            <a href="{% url 'update_image' %}" type="button" id="updateButton"
                                class="updateButton">Change Profile Photo</a>
                        </div>
                        <div style="height: 50px"></div>
                        <div class="row">
                            <img class="mr-3 col-3 heartsReceived" src="{% get_media_prefix %}heart.png"
                                alt="heart.png" />
                            <h5 class="col-9 white-important">
                                Hearts Received : {{ userinfo.received_hearts }}
                            </h5>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card profileInfoCard profile-section align-items-center">
                    <h3 class="white-important p-2">
                        About Me
                    </h3>
                    <article class="content-section" style="height: 140px; width: 100%">
                        <div class="mt-2 d-flex full-width align-items-center">

                            <div class="align-items-center stats">
                                <h4> Stats: </h4>
                                <h6>
                                    Age: {{ myage }} <br>
                                    Gender: {{ userinfo.gender}} <br>
                                    Nationality: {{ userinfo.nationality.name }} <br>
                                </h6>
                                <br><br>
                                <h4> Bio: </h4>
                                <h6>
                                    {{ userinfo.bio }}
                                </h6>

                            </div>
                            <a href="{% url 'update_info' %}" type="button" class="updateButton">Change About Me</a>
                        </div>
                    </article>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card profileInfoCard profile-section align-items-center">
                    <a href="{% url 'newpost' %}" type="button" class="newpostButton">Make a new
                        Post</a>
                    {% if request.user.userprofile.subscription.status == "active" %}
                    <a href="{% url 'userprofile' %}" type="button" class="mypostsButton">Include Friends Posts</a>
                    {% endif %}
                    <br>
                    <h3 class="white-important p-2">
                        Posts
                    </h3>
                    <h6 class="white-important mb-3">
                        {{ page_obj.start_index }} - {{ page_obj.end_index }} 
                    </h6>

                    {% for post in page_obj %}
                    <article class="card postfont"
                        style="background-color: rgb(43, 96, 156); width: 80%; margin-bottom: 10px; padding: 10px;">
                        <div class="pb-2 row m-0" style="width: 100%; margin-right: 0 !important;">
                            <div style="padding-left: 0px !important;"
                                class="col-8 no-padding d-flex align-items-center">
                                <img class="rounded-circle mr-2" style="width: 20px; height: 20px; object-fit: cover;"
                                    src="{{ post.user.userprofile.profile_pic.url }}">
                                &nbsp;
                                {% if user == post.user %}
                                <a class="white-important" href="{% url 'userprofile' %}">
                                    {{ post.user }}
                                </a>
                                {% else %}
                                <a class="white-important" href="{% url 'others_profile' post.user.username %}">
                                    {{ post.user }}
                                </a>
                                {% endif %}

                            </div>
                            <div class="col-4 d-flex flex-row-reverse no-padding align-items-center"
                                style="padding-right: 0 !important;">
                                {% if post.user == user %}
                                <a class="material-icons ml-2" style="font-size: 14px"
                                    href="{% url 'delete_post' post.id %}">Delete</a>
                                &nbsp
                                <a class="material-icons ml-2" style="font-size: 14px"
                                    href="{% url 'post-update' post.id %}">Update</a>
                                {% endif %}

                            </div>
                        </div>
                        <div class="mb-2" style="width: 100%; height: 1px; background-color: rgba(255, 255, 255, 0.1)">
                        </div>
                        <p class="mb-4">
                            {{ post.new_post }}
                        </p>
                        <p class="mb-2">
                            {{ post.date_posted }}
                        </p>
                    </article>
                    {% endfor %}

                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}