{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% load friendshiptags %}

{% block content %}

<div class="card profileCard align-items-center">
    <br>
    <h2 class="d-flex align-items-center">{{ userinfo.user.username }}'s Profile</h2><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card profileInfoCard profile-section align-items-center"
                    style="margin: 10px 0px 10px 10px ">
                    <h3 class="white-important p-2 profileTitle">
                        Profile
                    </h3>
                    <article class="content-section" style="height: 140px; width: 100%;">
                        <div class="mt-2 d-flex full-width align-items-center">
                            <img class="rounded-circle mr-3 profileImage" src="{{ userinfo.profile_pic.url }}">
                        </div>
                        <div>
                            <h4 class="white-important">
                                {{ userinfo.user.username }}
                            </h4>
                        </div>
                        <div style="height: 50px"></div>
                        <div class="row ">
                            <img class="mr-3 col-3 heartsReceived" src="media/heart.png">

                            <h4 class="col-9 white-important">
                                Hearts Received : {{ hearts_received }}
                            </h4>
                            <form action="{% url 'record_hearts_view' userinfo.user.username %}" method="POST">
                                {% csrf_token %}
                                {% if not check_friendship %}
                                    <h4 class="col-9 white-important">
                                        You cannot give any hearts to this user as you aren't friends.
                                    </h4>
                                {% elif check_friendship and request.user.userprofile.subscription.status == "active" and hearts_sent_today < 5 %} 
                                 <h4 class="col-9 white-important">
                                    Give a heart to {{ userinfo.user.username }}? <button type="submit">Give</button>
                                    </h4>
                                    <h5> You have given {{ hearts_sent_today }} heart(s) today</h5>                                
                                {% elif check_friendship and request.user.userprofile.subscription.status == none and hearts_sent_today < 1 %} 
                                    <h4 class="col-9 white-important">
                                    Give a heart to {{ userinfo.user.username }}? <button
                                        type="submit">Give</button>
                                    </h4>
                                    <h5> You have given {{ hearts_sent_today }} heart(s) today</h5>
                                
                                {% else %}
                                        <h4 class="col-9 white-important">
                                            You have no hearts left to give away today.
                                        </h4>                            
                                {% endif %}
                            </form>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">


                                    {% if check_friendship and request.user.userprofile.subscription.status == 'active' %}
                                    <a href="{% url 'remove_friend' userinfo.user.username  %}"
                                        style="margin-left: 18px" class="btn btn-sm btn-primary" type="submit">You are
                                        already friends with {{userinfo.user}}. Remove as Friend.
                                    </a>
                                    {% elif request_sent and not check_friendship %}
                                    <a href="{% url 'request_cancel' userinfo.user.id %}" style="margin-left: 18px"
                                        class="btn btn-sm btn-warning" type="button">You are waiting for
                                        {{userinfo.user}}'s response to your friend request. Click to cancel request.
                                    </a>
                                    {% elif not check_friendship and not request_sent %}
                                    <a href="{% url 'add_friend' userinfo.user.username %}" style="margin-left: 18px"
                                        class="btn btn-sm btn-outline-primary"
                                        name="{% if friend %}removeFriend{% else %}addFriend{% endif %}"
                                        type="submit">Send {{userinfo.user}} a friend request.
                                    </a>
                                    {% else %}
                                    <a href="{% url 'membership_info' %}" style="margin-left: 18px"
                                        class="btn btn-sm btn-outline-primary">Become a Premium Member to send a friend
                                        request</a>
                                    {%endif%}
                                </div>
                            </form>
                        </div>
                    </article>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card profileInfoCard profile-section align-items-center">
                    <h3 class="white-important p-2">
                        About Me
                    </h3>
                    <article class="content-section" style="height: 140px; width: 100%">
                        <div class="mt-2 d-flex full-width align-items-center">

                            <div class="align-items-center stats">
                                <h4> Stats: </h4>
                                <h6>
                                    Age: <br>
                                    Gender: {{ userinfo.gender}} <br>
                                    Height: <br>
                                    Hair: <br>
                                    Nationality: {{ userinfo.nationality.name }} <br>
                                </h6>
                                <br><br>
                                <h4> Bio: </h4>
                                <h6>
                                    {{ userinfo.bio }}
                                </h6>

                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">

                {% if check_friendship or request.user.userprofile.subscription.status == "active" %}
                <div class="card profileInfoCard profile-section align-items-center" style="margin: 10px">
                    <h3 class="white-important p-2">
                        Posts
                    </h3>
                    <h6 class="white-important mb-3">
                        {{ page_obj.start_index }} - {{ page_obj.end_index }} of
                        {{ data.count }}
                    </h6>


                    {% for post in page_obj %}
                    <article class="card"
                        style="background-color: rgb(43, 96, 156); width: 80%; margin-bottom: 10px; padding:10px">
                        <div class="pb-2 row m-0" style="width: 100%; margin-right: 0 !important;">
                            <div style="padding-left: 0px !important;"
                                class="col-8 no-padding d-flex align-items-center">
                                <img class="rounded-circle mr-2" style="width: 20px; height: 20px;"
                                    src="{{ post.user.userprofile.profile_pic.url }}">
                                &nbsp;
                                <a class="white-important" href="{% url 'others_profile' post.user.username %}">
                                    {{ post.user }}
                                </a>
                            </div>
                        </div>
                        <div class="mb-2" style="width: 100%; height: 1px; background-color: rgba(255, 255, 255, 0.1)">
                        </div>
                        <p class="mb-4">
                            {{ post.new_post }}
                        </p>
                        <p class="mb-2">
                            {{ post.date_posted }}
                        </p>
                    </article>
                    {% endfor %}

                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                    {% else %}
                    <div class="card profileInfoCard profile-section align-items-center" style="margin: 10px">
                        <h3 class="white-important p-2">
                            Posts
                        </h3>
                        <h4 class="white-important p-2">
                            You cannot see this users posts as you are not friends.
                        </h4>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}