{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="card profileCard align-items-center" style="padding: 10px">
   
    <h3 class="white-important p-2">
        Users
    </h3>                    
    <h6 class="white-important mb-3">
        {{ page_obj.start_index }} - {{ page_obj.end_index }} of
        {{ data.count }}
    </h6>
        

    {% for profiles in page_obj %}
    <article class="card row profileListCards">
            <div class="col-3 d-flex align-items-center">
                <div class="row-3">
                    <img class="rounded-circle mr-2" style="width: 150px; height: 150px;"
                        src="{{ profiles.user.userprofile.profile_pic.url }}">
                    &nbsp;
                    {% if user == profiles.user %}
                    <a class="white-important" href="{% url 'userprofile' %}">
                        {{ profiles.user }}
                    </a>
                    {% else %}
                    <a class="white-important" href="{% url 'others_profile' profiles.user.username %}">
                        {{ profiles.user }}
                    </a>
                    {% endif %}

                </div>
                <div class="col-9">
                    <p class="white-important" style="width:75%;">
                        {{ profiles.bio }}
                    </p>
                </div>
            </div>
        </article>
    {% endfor %}
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}