{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="card profileCard align-items-center" style="padding: 10px">

    <h3 class="white-important p-2">
        Users
    </h3>
    <h6 class="white-important mb-3">
        {{ page_obj.start_index }} - {{ page_obj.end_index }} of
        {{ data.count }}
    </h6>


    {% for profiles in page_obj %}
    <article class="card profileListCards row">
        <div class="d-flex align-items-center">


            &nbsp;
            {% if user == profiles.user %}
            <div class="col-lg-3 col-md-3 col-sm-12" style="padding:10px;">
                <a class="white-important" href="{% url 'userprofile' %}" >
                    <img class="rounded-circle mr-2" style="width: 150px; height: 150px; margin-right:10px;"
                        src="{{ profiles.user.userprofile.profile_pic.url }}">
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                {{ profiles.user }}
            </div>
            {% else %}
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a class="white-important" href="{% url 'others_profile' profiles.user.username %}">
                    <img class="rounded-circle mr-2" style="width: 150px; height: 150px;"
                        src="{{ profiles.user.userprofile.profile_pic.url }}">
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                {{ profiles.user }}
            </div>
            {% endif %}


            <div class="col-lg-6 col-md-6 col-sm-12" id="fl_biography">
                <p class="white-important limit-chars" style="width:75%;" max_length="300">
                    {{ profiles.bio }}
                </p>
            </div>
        </div>
    </article>
    {% endfor %}
    &nbsp;

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}