{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="card profileCard align-items-center">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

    {% if request.user.userprofile.subscription.status == "active" %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="to_username" value="{{ to_username }}" />
        <input type="submit" value="remove {{ to_username }} as a friend" />
    </form>
    {% else %}
    <h1>"You aren't a premium member. You cannot remove a friend"</h1>
    {% endif %}
</div>

{% endblock %}