{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="card profileCard align-items-center">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

<form method="post">
    {% csrf_token %}
        <h1> Are you sure you wish to cancel your friend request to {{ friendship_request }}</h1>
        <input type="hidden" name="to_username" value="{{ friendship_request.userNAME }}" />
        <input type="submit" value="Yes cancel friend request to {{ friendship_request }}"/>
    </form>

</div>

{% endblock %}