{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="col-lg-6 col-md-12">
    <div class="card profileInfoCard profile-section align-items-center" style="margin: 10px">
        <h3 class="white-important p-2">
            Update Profile Image
        </h3>

        <form method="POST" id="updatingInformation" action="{{ update_image }}" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group updateImage">                        
            {{ updateprofileimage | crispy }} 
            <br><br>
            <button type="submit">Update Profile Picture</button>
            </fieldset>
            
        </form>
        
        <a href="{% url 'userprofile' %}" type="button">Back to Profile</a>
        
    </div>
</div>

{% endblock %}